# Unnecessary compiled python files.
__pycache__
*.pyc
*.pyo
*.mp4
*.png
*.jpg
*.BAK
*.ORG
*.bak
*.tmp
*/tmp/*

# Log files for colab-convert
cc-outputs.log

# Jupyter autosaves
.ipynb_checkpoints/

# Output Images
output/
outputs/

# Model files
configs/
models/
settings/
safe/
beta/
batch/
assets/
archive/
.directory
.idea/
DEADJOE
training/
test.py
test.json
stest
steghide-install/
shutil
sdw
sda
savesettings.sh
saveit.py
saveit
p
out.txt
nohup.out
log
in.txt
last
launch_vidcvt
locatebymp4.sh
compass.pdf
models
ma2.py
