# Unnecessary compiled python files.
__pycache__
*.pyc
*.pyo
*.mp4
*.png
*.jpg
*.BAK
*.ORG
*.bak
*.tmp
*/tmp/*

# Log files for colab-convert
cc-outputs.log

# Jupyter autosaves
.ipynb_checkpoints/

# Output Images
output/
outputs/

# Model files
configs/
models/
